body {
  background-color: cadetblue;
}

body * {
  font-size: 16px;
}

.flex-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.counter {
  width: max-content;
  margin: 24px auto 0;
  padding: 12px;
  border-radius: 0.5em;
  background-color: white;
  font-size: 24px;
}

.btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 0.5em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #3e8e41;
}
